body {
    background-color: rgba(0, 183, 255, 1);
    background-image: url("https://img.freepik.com/free-vector/bright-yellow-background-with-lines-pattern_1017-33497.jpg?w=2000");

}

.col {
    color: yellow;
}